html {
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}

body {
	background: #e9ebee;
	margin: 0;
}

body, input, select {
	font-family: "Source Sans Pro", sans-serif;
	font-size: 16px;
	line-height: 1.5;
}

a {
	color: #324FA5;
}

a:hover {
	color: #000;
}

h1 {
	font-weight: normal;
	font-size: 30px;
	margin: 0 auto;
	padding: 0 15px;
	width: 100%;
	max-width: 716px;
}

h2 {
	color: #324FA5;
	font-size: 18px;
	margin-bottom: 30px;
	margin-top: 5px;
}

hr {
	border: 0;
	border-bottom: 1px solid #324FA5;
}

form {
	margin-bottom: 30px;
}

img {
	width: 100%;
	height: auto;
}

label {
	font-weight: 600;
}

input[type="text"] {
	display: block;
	width: 100%;
	padding: 10px;
	border: 2px solid #ccc;
	margin: 5px 0 10px 0;
}

input[type="text"]:focus {
	border-color: #324FA5;
}

dt {
	font-weight: 600;
	margin-top: 20px;
}

dd {
	margin: 10px 0;
}

dd img {
	margin-top: 15px;
}

code {
	font-family: menlo, monospace;
	font-size: 0.8em;
	display: inline-block;
	background: #ddd;
	padding: 2px;
}

header {
	color: #fff;
	background: #324FA5;
	margin: 0;
	padding: 30px 0 10px 0;
}

#page {
	width: 100%;
	max-width: 716px;
	padding: 15px;
	margin: 0 auto;
}

.btn {
	background: #324FA5;
	color: #fff;
	border: 2px solid #324FA5;
	font-size: 13px;
	font-weight: 600;
	padding: 10px 15px;
	border-radius: 4px;
	cursor: pointer;
	text-transform: uppercase;
	text-decoration: none;
}

.btn:hover {
	color: #fff;
	background: #000;
	border-color: #000;
}

.response {
	color: #f30;
	margin-top: 15px;
	font-weight: 600;
}

@media (min-width: 746px) {

	#page {
		padding: 30px 0 60px 0;
	}

	h1 {
		padding: 0;
	}

}
